<%- include("./partials/head.ejs", varTitle = "Post a work") %>
<body>
    <h2>Post a work</h2>
    
    <form action="/client/postawork" method="post">

        <input type="text" name="ipTitle" placeholder="Title">
        <input type="text" name="ipDesc" placeholder="Description">
        <input type="text" name="ipLinks" placeholder="Links">
        <input type="number" name="ipBudget" required="true" placeholder="Budget">
        <input type="date" name="ipDeadline" required="true" placeholder="Deadline">
        
        <button type="submit">Submit</button>
    
    </form>

</body>
</html>